



.result-div {
    border: 2px solid #777;
    line-height: 1.5;
    padding: 10px;
}

 /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#map {
   width: 100%;
   height: 300px;
   padding-left: 20%;
   padding-right: 20%;
   margin-bottom: 10px;
}
html, body {
    height: 100%;
    margin: 0px;
    /* padding:0px 75px 0px 75px ; */
}
body{
  background-image: url(https://images.pexels.com/photos/976866/pexels-photo-976866.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
.header{
    width:100%;
    height:60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
body{
    margin:0px;
    padding:0px;
}

.header {
    margin-bottom: 10px;
}

#seatgeek-argument {
    width: 300px;
    margin-top: 10px;
}

#seatgeek-results {
  height:500px;
  overflow-y: scroll;
}

.info-div {
    margin-bottom: 10px;
}

.info-title {
    font-weight: bold;
}

.btn {
    background-color: #535353;
    border-color: #535353;
    color: #ffffff;
}

.logo{
    font-size:25px;
    font-family:verdana;
    text-align:left;
    margin-top:0px;
    float:left;
    margin:0px;
    line-height:50px;
    padding-left:9px;
}
.inputBox {
    float: right;
    margin-top: 15px;
}
    
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.collapsible {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: rgb(189, 189, 189);
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.checkbox * {
    vertical-align: middle;
}
.results {
  float: right;
}
.inputBox {
  display: block;
}

.tweet-div {
    border: 1px solid grey;
    padding: 5px;
    margin: 10px;
    color: white;
}

#weather-info {
    margin-bottom: 20px;
}

#weather-title {
    font-weight: bold;
    margin-bottom: 5px;
}

#additional-info-title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    font-size: 21px;
}

#modal-text{
    color: #000000;
}
.modal-title{
    font-weight: bold;
    color: #000000;
}